<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: sport.properties -->
	<context:property-placeholder location = "classpath:sport.properties"/>
	
	
    <!-- Define your beans here -->
    <bean id="myFortune"
    	class="com.bachir.dependancyInjection.HappyFortuneService">
    </bean>
    <bean id="myCoach"
    	class="com.bachir.dependancyInjection.TrackCoach">
    	
    	<!-- set up constructor injection -->
    	<constructor-arg ref="myFortune"/> 	
    </bean>
    
    <bean id="myCricketCoach"
    	class = "com.bachir.dependancyInjection.CricketCoach">
    	
    	<!-- set up setter injection -->
    	<property name = "fortuneService" ref="myFortune"/>    
    	
    	<!-- inject literal values -->
    	<!--  <property name = "emailAddress"  value="thebestcoach@luv2code.com"/> 
    	<property name = "team"  value="Sunrisers Hyderabd"/> -->
    	<property name = "emailAddress"  value="${email}"/> 
    	<property name = "team"  value="${team}"/>
    	
    </bean>
    
</beans>





